# Database Configuration
set DB_URL=jdbc:postgresql://localhost:5432/restaurant_db?sslmode=require
set DB_USER=your_database_user
set DB_PASSWORD=your_database_password

# Redis Configuration
set REDIS_HOST=localhost
set REDIS_PORT=6379
set REDIS_PASSWORD=your_redis_password

# JWT Configuration
set JWT_SECRET_KEY=your_jwt_secret_key_here

# Cloudinary Configuration
set CLOUD_NAME=your_cloudinary_cloud_name
set CLOUD_API_KEY=your_cloudinary_api_key
set CLOUD_API_SECRET=your_cloudinary_api_secret

# Frontend Configuration
set FRONTEND_BASE_URL=http://localhost:5173

# Brevo Configuration
set BREVO_API_KEY=your_brevo_api_key
set BREVO_MAIL_URL=https://api.brevo.com/v3/smtp/email

# Google OAuth2 Configuration
set GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
set GOOGLE_CLIENT_SECRET=your_google_client_secret
